<!--本の詳細ページ-->

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/errors', obj: @book %> <!--バリデーションの記述を追加-->

      <h2>User info</h2>
      <%= render 'users/info', user: @user %> <!--user: @userを追加した-->
      <%= render 'users/follow_form', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>

  		<h2>Book detail</h2>

      <table class='table'>
        <tbody>
          <tr>
            <td>
              <%= link_to(@book.user) do %>
              <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
              <%= @book.user.name %>
              <% end %>
            </td>
              <td><%= link_to @book.title, @book %></td>
              <td><%= @book.body %></td>
              <td id="favorite_btn_<%= @book.id %>">
                <%= render 'favorites/btn', book: @book %>
                <td id="comment_counter">
                  <%= render "book_comments/counter", book: @book %>
                </td>
            </td>
            <% if @book.user == current_user %><!--もし、本の投稿をしたユーザーと現在ログインしているユーザーが一致していたら下記を表示-->
              <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
              <td>コメント件数：<%= @book.book_comments.count %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div id="comment_index">
         <%= render "book_comments/index", book: @book %>
      </div>
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>